In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df=pd.read_csv(r"C:\Users\HP\OneDrive\Documents\cognify\Dataset .csv")
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [26]:
df = df.dropna(subset=['Cuisines'])

In [27]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [28]:
df1 = df.copy()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9542 non-null   int64
 1   Restaurant Name       9542 non-null   object
 2   Country Code          9542 non-null   int64
 3   City                  9542 non-null   object
 4   Address               9542 non-null   object
 5   Locality              9542 non-null   object
 6   Locality Verbose      9542 non-null   object
 7   Longitude             9542 non-null   float64
 8   Latitude              9542 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9542 non-null   int64
 11  Currency              9542 non-null   object
 12  Has Table booking     9542 non-null   object
 13  Has Online delivery   9542 non-null   object
 14  Is delivering now     9542 non-null   object
 15  Switch to order menu  9542 non-null   object
 16  Price range           9542 non-null   int64
 17  Aggregate rating      9542 non-null   float64
 18  Rating color          9542 non-null   object
 19  Rating text           9542 non-null   object
 20  Votes                 9542 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.6+ MB

In [29]:
df1= df.drop(columns=['Restaurant ID','Address', 'Locality Verbose','Locality','Rating color'])

In [30]:
df1['Cuisines'] = df1['Cuisines'].str.replace(',' , '') 
df1['Cuisines'] = df1['Cuisines'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
df1['Cuisines'].value_counts().head()

Indian North            936
Chinese Indian North    616
Indian Mughlai North    394
Fast Food               354
Chinese                 354
Name: Cuisines, dtype: int64

In [31]:
df1['Currency'] = df1['Currency'].str.replace(r'\(.*\)', '', regex=True)

In [32]:

from sklearn.preprocessing import LabelEncoder

categorical_columns = [ 'Currency', 'Has Table booking', 
                         'Has Online delivery', 'Is delivering now', 'Switch to order menu','Rating text']
labelencoder = LabelEncoder()

for col in categorical_columns:
    df1[col] = labelencoder.fit_transform(df1[col])

df1.head()

,Restaurant Name,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating text,Votes
0,Le Petit Souffle,162,Makati City,121.027535,14.565443,Desserts French Japanese,1100,0,1,0,0,0,3,4.8,1,314
1,Izakaya Kikufuji,162,Makati City,121.014101,14.553708,Japanese,1200,0,1,0,0,0,3,4.5,1,591
2,Heat - Edsa Shangri-La,162,Mandaluyong City,121.056831,14.581404,Asian Filipino Indian Seafood,4000,0,1,0,0,0,4,4.4,5,270
3,Ooma,162,Mandaluyong City,121.056475,14.585318,Japanese Sushi,1500,0,0,0,0,0,4,4.9,1,365
4,Sambo Kojin,162,Mandaluyong City,121.057508,14.584450,Japanese Korean,1500,0,1,0,0,0,4,4.8,1,229

In [36]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer


tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df1['Cuisines'])


cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant Name       9542 non-null   object
 1   Country Code          9542 non-null   int64
 2   City                  9542 non-null   object
 3   Longitude             9542 non-null   float64
 4   Latitude              9542 non-null   float64
 5   Cuisines              9542 non-null   object
 6   Average Cost for two  9542 non-null   int64
 7   Currency              9542 non-null   int32
 8   Has Table booking     9542 non-null   int32
 9   Has Online delivery   9542 non-null   int32
 10  Is delivering now     9542 non-null   int32
 11  Switch to order menu  9542 non-null   int32
 12  Price range           9542 non-null   int64
 13  Aggregate rating      9542 non-null   float64
 14  Rating text           9542 non-null   int32
 15  Votes                 9542 non-null   int64
dtypes: float64(3), int32(6), int64(4), object(3)
memory usage: 1.0+ MB

In [38]:

def get_recommendations(user_preferences, top_n=5):
    indices = df.index[df['Cuisines'] == user_preferences['Cuisine']].tolist()
    indices = [idx for idx in indices if df.loc[idx, 'Price range'] == user_preferences['Price range']]
    if not indices:
        print("No restaurants found matching the given preferences.")
        return []
    sim_scores = [(idx, 1.0) for idx in indices] 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[:top_n]
    restaurant_indices = [x[0] for x in sim_scores]
    return df.iloc[restaurant_indices]['Restaurant Name']

user_preferences = {'Cuisine': 'Chinese', 'Price range': 2}  

recommendations = get_recommendations(user_preferences)
print(recommendations)

202                          Mellow Mushroom
244              Granite City Food & Brewery
491    Tokyo Japanese Steakhouse & Sushi Bar
776                               Chill Ummm
780                Brewberrys The Coffee Bar
Name: Restaurant Name, dtype: object

In [18]:
print(df1['Cuisines'].unique())

[1036 1268  289 ...  595  656 1023]

In [39]:
sample_user_preferences = {'Cuisine': 'Asian', 'Price range': 4}

recommendations = get_recommendations(sample_user_preferences)
print(recommendations)

578     Indian By Nature
736      The Black Pearl
5015         Vijay Dhaba
7551        Chatori Gali
9333               Olive
Name: Restaurant Name, dtype: object

#### RECOMMENDATION SYSYTEM BY PRICE RANGE,RATING,HAS ONLINE DELIVERY, CUISINES

In [40]:

def get_recommendations(user_preferences, top_n=5):
    
    indices = df.index[df['Cuisines'] == user_preferences['Cuisine']].tolist()
    
    indices = [idx for idx in indices if df.loc[idx, 'Price range'] == user_preferences['Price range']]
   
    indices = [idx for idx in indices if df.loc[idx, 'Aggregate rating'] >= user_preferences.get('Min Rating', 0)]
    
    if user_preferences.get('Has Online delivery', False):
        indices = [idx for idx in indices if df.loc[idx, 'Has Online delivery'] == 'Yes']
    if not indices:
        print("No restaurants found matching the given preferences.")
        return []
    
    sim_scores = [(idx, 1.0) for idx in indices]  
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[:top_n]
    
    restaurant_indices = [x[0] for x in sim_scores]
    
    return df.iloc[restaurant_indices]['Restaurant Name']


user_preferences = {'Cuisine': 'Chinese', 'Price range': 2, 'Min Rating': 4.0, 'Has Online delivery': True}


recommendations = get_recommendations(user_preferences)
print(recommendations)

1289    Sibang Bakery
7737              KFC
Name: Restaurant Name, dtype: object